#movies{
  background-color:rgb(252, 224, 229);  
  display: grid;
  grid-template-columns: auto auto auto;
  border: 3px solid pink;
  column-gap: 7ch;
}

#movies2{
    background-color:rgb(252, 224, 229);  
    display: grid;
    grid-template-columns: auto auto auto;
    border: 3px solid pink;
    column-gap: 7ch;
  }

h1{
    color: rgb(165, 82, 109);
}

h2{
    font-size: medium;
}

#titles{
    display: grid;
    grid-template-columns: auto auto auto ;
    column-gap: 10ch;
}
