#movies{
  background-color:rgb(252, 224, 229);  
  display: grid;
  grid-template-columns: auto auto auto;
  border: 3px solid pink;
  column-gap: 7ch;
}

#movies2{
    background-color:rgb(252, 224, 229);  
    display: grid;
    grid-template-columns: auto auto auto;
    border: 3px solid pink;
    column-gap: 7ch;

  }

h1{
    color: rgb(165, 82, 109);
    text-align: center;
    background-color:rgb(252, 224, 229);
}

h2{
    font-size: medium;
    border: 2px solid lightcoral;
}

#titles{
    display: grid;
    grid-template-columns: auto auto auto ;
    column-gap: 10ch;
    text-align: center;
    margin-top: 1rem
}

#titles2{
    display: grid;
    grid-template-columns: auto auto auto ;
    column-gap: 10ch;
    margin-top: 1rem;
    text-align: center;
}

#images{
    display: grid;
    grid-template-columns: auto auto auto ;
    margin-top: 2rem 
} 

#images2{
    display: grid;
    grid-template-columns: auto auto auto ;
    margin-top: 2rem;
} 

